[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ app_path }}

{% for key, value in app_config.env.items() %}
Environment={{ key }}={{ value }}
{% endfor %}

ExecStart={{ app_path }}/{{ app_name }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target