[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ app_path }}

Environment=PORT={{ app_config.PORT }}
Environment=DB_PATH={{ db_path }}
Environment=AUTH_URL={{ app_config.AUTH_URL }}
Environment=AUTH_INTERNAL={{ app_config.AUTH_INTERNAL }}
Environment=APP_URL={{ app_config.APP_URL }}
Environment=APP_TOKEN={{ app_config.APP_TOKEN }}
Environment=SECRET_KEY={{ app_config.SECRET_KEY }}

ExecStart={{ app_path }}/{{ app_name }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target