[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User=root
ExecStart={{ bin_path }} \
  --web.listen-address=:{{ port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
