[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User={{ service_user }}
ExecStart={{ bin_path }} \
  --web.listen-address=:{{ node_exporter_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
