[Unit]
Description=Prometheus
After=network.target

[Service]
Type=simple
User={{ service_user }}
ExecStart={{ bin_path }} \
  --config.file={{ config_path }} \
  --storage.tsdb.path={{ data_path }} \
  --web.listen-address=:{{ prometheus_port }} \
  --web.enable-lifecycle
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
